<h2><%= @baby_material.title %></h2>
<%= cl_image_tag @baby_material.photo, height: 300, width: 400, crop: :fill %>

<p><%= @baby_material.description %></p>
<p><%= @baby_material.address %></p>
<p><%= @baby_material.price %></p>
<p><%= @baby_material.rating %></p>
<p><%= @baby_material.photo %></p>


<div class="btn btn-success">
  <p><%= link_to 'Delete' , baby_material_path, method: :delete, data: { confirm: 'Are you sure'} %></p>
</div>


<div class="btn btn-success">
  <p><%= link_to 'Edit' , edit_baby_material_path %></p>
</div>
