<div class = "banner">
  <h1 id = "banner-typed-text"></h1>
</div>
<div class="container">
  <h3>My Baby Materials</h3>
  <%= link_to 'Create a new baby material', new_baby_material_path, class: "btn btn-flat" %>
  <div class="rent">
    <div class="row ">
      <div class="col-6">
        <h3>To Rent</h3>
        <% @baby_materials.each do |baby_material| %>
        <div class="card-trip">
          <%= cl_image_tag("#{baby_material.photo}",
          crop: :fill) %>
          <div class="card-trip-infos">
            <h2><%=link_to baby_material.title, baby_material_path(baby_material)%></h2>
            <h2 class="card-trip-pricing">£99.99</h2>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="rented">
      <h3>Rented</h3>
      <% @rented.each do |rents| %>
      <div class="card-trip">
        <%= cl_image_tag("#{rents.photo}",
        crop: :fill) %>
        <div class="card-trip-infos">
          <div>
            <h2><%=rents.title%></h2>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
